h1 Number helpers

p = link_to 'ActionView::Helpers::NumberHelper', 'http://api.rubyonrails.org/classes/ActionView/Helpers/NumberHelper.html', target: '_blank'



hr

h3 number_to_currency

= number_to_currency(34.5)

p ~~~~~

= number_to_currency(34.5, precision: 0, unit: 'kr', format: '%n %u')

hr

h3 number_to_percentage

= number_to_percentage(34.5)

p ~~~~~

= number_to_percentage(34.5, precision: 1, separator: ',')

hr

h3 number_with_precision

= number_with_precision(34.56789)

p ~~~~~

= number_with_precision(34.56789, precision: 6)

hr

h3 number_with_delimiter

= number_with_delimiter(3456789)

p ~~~~~

= number_with_delimiter(3456789, delimiter: ' ')

hr

h3 number_to_human

= number_to_human(123456789)

p ~~~~~

= number_to_human(123456789, precision: 5)

hr

h3 number_to_human_size

= number_to_human_size(123456789)

p ~~~~~

= number_to_human_size(123456789, precision: 2)

hr

h3 number_to_phone

= number_to_phone(1234567890)

p ~~~~~

= number_to_phone(123456789, area_code: true, delimiter: ' ', country_code: 353, extension: 321)

hr

